{% extends 'base.html.twig' %}

{% block body_id 'hello_index' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <h1>Hello from hello/world.html.twig!</h1>
    <a href="{{ path('homepage') }}">Retour à /</a>
{% endblock %}
